In [1]:
from scipy.io import loadmat
import mat73
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [3]:
matfile = '../local/matfiles/mz_twins/ts_MZ_116_schaefer_subc_100.mat'
data_dict = mat73.loadmat(matfile)
data_dict.keys()

dict_keys(['IDs', 'ts_all'])

In [4]:
ids = data_dict['IDs']
print(ids.shape)
pd.DataFrame(ids, dtype='int64').head(5)

(116, 2)

        0       1
0  100307  255639
1  100408  705341
2  102311  145834
3  102816  680957
4  103818  143325

In [5]:
A = np.concatenate([ids[:,0], ids[:,1]])
print(A.shape)
A[:10]

(232,)

array([100307., 100408., 102311., 102816., 103818., 104416., 105115.,
       106016., 107018., 107422.])

In [6]:
np.save('../local/subject_ids/mz/mz_unique_ids.npy', A)

In [7]:
A = [np.array([a,b,a,b]) for a,b in zip(ids[:,0], ids[:,1])]
A = np.concatenate(A)
print(A.shape)
A[:12]

(464,)

array([100307., 255639., 100307., 255639., 100408., 705341., 100408.,
       705341., 102311., 145834., 102311., 145834.])

In [8]:
np.save('../local/subject_ids/mz/mz_duplicated_ids.npy', A)

In [9]:
data = data_dict['ts_all']
len(data)

3712

In [10]:
116*4, 3712/(116*4)

(464, 8.0)

In [11]:
rest = data[:464]
len(rest)

464

In [12]:
rest[0]['ts'].shape

(1190, 114)

In [13]:
1190-20

1170

In [14]:
series = np.zeros((464,1170,100))
for idx, s in enumerate(rest):
    series[idx] = s['ts'][10:-10, :100]
series.shape

(464, 1170, 100)

In [15]:
fcs = np.zeros((464,100,100))
for idx, s in enumerate(series):
    m = np.corrcoef(s.T)
    fcs[idx] = m

In [16]:
np.save('../local/timeseries/mz_twins/timeseries_100_mz.npy', series)
np.save('../local/fcs/mz_twins/fcs_100_mz.npy', fcs)