In [1]:
from scipy.io import loadmat
import numpy as np
import mat73
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [2]:
# TOTAL SUBJECTS
(426*2)+(116*2)+(63*2)

1210

In [6]:
file = '../local/Demographics_all.mat'
data_dict = mat73.loadmat(file)
data_dict.keys()

dict_keys(['Demo_name', 'Demographics', 'IDs_list'])

In [7]:
ids = data_dict['IDs_list']
print(ids.shape)
pd.DataFrame(ids, dtype='int64').head()

(426,)

        0
0  100206
1  100307
2  100408
3  100610
4  101006

In [8]:
data = data_dict['Demographics']
print(data.shape)
pd.DataFrame(data).head()

(426, 15)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,0.0,27.0,125.07,118.78,119.14,104.94,130.42,116.55,20.0,0.0,18574.5,113.5460,103.4441,138.72,131.89
1,1.0,27.0,110.61,103.45,123.75,109.92,112.56,101.90,17.0,2.0,11839.0,111.0700,98.7300,122.65,112.36
2,0.0,33.0,125.71,125.19,111.14,100.77,121.18,113.51,7.0,12.0,3042.0,131.8100,125.6400,107.08,96.00
3,0.0,27.0,109.04,101.69,129.84,115.18,126.53,114.18,23.0,0.0,12280.0,141.3166,132.4124,111.11,96.12
4,1.0,35.0,84.68,70.00,105.19,94.30,101.85,92.33,11.0,8.0,6569.0,113.5374,101.1697,90.59,71.99

In [10]:
unrestricted = pd.read_csv('../local/unrestricted_liu2549_9_16_2021_16_6_58.csv')
print(unrestricted.shape)

(1206, 582)

In [12]:
demoraphics = unrestricted[unrestricted['Subject'].isin(ids)]
demoraphics['sex_csv'] = data[:,0]
demoraphics['binary_gender'] = demoraphics['Gender'].map({'M':0,'F':1})
demoraphics[['Subject','Gender','Age','sex_csv','binary_gender']].head(10)

/tmp/ipykernel_4683/3021614150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demoraphics['sex_csv'] = data[:,0]
/tmp/ipykernel_4683/3021614150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demoraphics['binary_gender'] = demoraphics['Gender'].map({'M':0,'F':1})

    Subject Gender    Age  sex_csv  binary_gender
1    100206      M  26-30      0.0              0
2    100307      F  26-30      1.0              1
3    100408      M  31-35      0.0              0
4    100610      M  26-30      0.0              0
5    101006      F  31-35      1.0              1
6    101107      M  22-25      0.0              0
8    101309      M  26-30      0.0              0
11   101915      F  31-35      1.0              1
13   102109      M  26-30      0.0              0
14   102311      F  26-30      1.0              1

In [13]:
(demoraphics['sex_csv'] - demoraphics['binary_gender']).sum()

0.0

In [17]:
gender = demoraphics['binary_gender'].values
print(gender.shape, gender[:10])
gender = np.repeat(gender, 2)
print(gender.shape, gender[:10])

(426,) [0 1 0 0 1 0 0 1 0 1]
(852,) [0 0 1 1 0 0 0 0 1 1]

In [18]:
np.save('../local/gender_labels/unrelated_gender_labels.npy', gender)